.home-container {
  background-color: #4e54c8; 
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  width: 400px; 
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.placeholder-image {
  width: 200px; 
  height: auto;
  border-radius: 25%; 
  object-fit: cover; 
  margin-bottom: 20px; 
}

.welcome-text {
  text-align: center;
}
  .icon {
    position: absolute;
    animation: levitate 2s infinite alternate ease-in-out; 
    z-index: 0;
  }
  
  @keyframes levitate {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  